{% extends "base-layout.html" %}
{% block title %}
    {{ super() }}
{% endblock %}
{% block head_link %}
    {{ super() }}
{% endblock %}
{% block head_css %}
    {{ super() }}
{% endblock %}
{% block head_after_link %}
    {{ super() }}
{% endblock %}
{% block head_src %}
    {{ super() }}
{% endblock %}
{% block head_js %}
    {{ super() }}
{% endblock %}
{% block body_header %}
    {{ super() }}
{% endblock %}
{% block body_main %}
    {{ super() }}
{% endblock %}
{% block body_footer %}
    {{ super() }}
{% endblock %}
{% block body_src %}
    {{ super() }}
{% endblock %}
{% block body_js %}
    {{ super() }}
{% endblock %}